<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .emailBody{
            background-image: linear-gradient(100deg,#FBDDFF,#7b00ff9e);
            color: rgb(255, 255, 255);
            padding: 20px;

        }
        h1,h2{
            color: rgb(255, 255, 255);
            text-align: center;
        }
        p{
            font-size: 1.2rem;
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="emailBody">
        <h1>Welcome to Pairr!</h1>
        <p>Your activation code is:</p>
        <h2><%= code %></h2>
    </div>
</body>
</html>